* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

header {
  height: 70px;
  width: 100%;
  background-color: black;
  color: white;
  display: flex;
  align-items: center;
  padding: 0 100px;
  font-size: 1rem;
}
.uber {
  font-size: 1.2rem;
  cursor: pointer;
  margin-right: 10px;
}

nav {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

nav ul {
  display: flex;
  list-style: none;
}
:not(li) > ul > li {
  padding: 10px;
  margin: auto 5px;
  border-radius: 20px;
}
:not(li) > ul > li:hover {
  background-color: rgb(63, 63, 63);
  transition: 400ms all;
}
li li {
  line-height: 1.5;
  cursor: pointer;
}
.sign_button {
  background-color: white;
  border-radius: 20px;
  color: black;
  cursor: pointer;
}
.sign_button:hover {
  background-color: rgb(218, 218, 218);
  transition: 400ms all;
}

nav ul li a {
  text-decoration: none;
  color: white;
}

nav ul li ul {
  display: none;
  padding: 0;
  width: 180px;
}
.company-drop {
  box-shadow: 0 4px 16px hsla(0, 0%, 0%, 0.16);
}
.company-drop li {
  padding: 5px 10px;
  color: gray;
}
.company-drop li:hover {
  background-color: rgb(241, 241, 241);
  color: black;
}
.products-drop {
  height: 260px;
  width: 250px;
  overflow: scroll;
  box-shadow: 0 4px 16px hsla(0, 0%, 0%, 0.16);
}
.products-drop li {
  padding: 5px 10px;
  color: gray;
  font-size: 1.3rem;
}
.products-drop li:hover {
  background-color: rgb(255, 255, 255);
  color: black;
}
.products-drop li svg {
  margin: 0 10px;
}

.checkbox_company:checked + .company-drop {
  display: block;
  position: absolute;
  top: 70px;
  background-color: white;
  z-index: 1;
}

.checkbox_company,
.checkbox_products {
  display: none;
}
.checkbox_products:checked + .products-drop {
  display: block;
  position: absolute;
  top: 70px;
  right: 285px;
  background-color: white;
  z-index: 1;
}
label {
  cursor: pointer;
}
.nav-svg {
  margin-right: 10px;
}
.nav2 {
  display: none;
}
.uber {
  font-family: 'Montserrat Alternates', sans-serif;
  font-weight: 500;
  font-size: 1.5rem;
}
.earner {
  background: url(./assets/earner.jpeg) no-repeat;
  background-position: center center;
  background-size: cover;
  height: 80vh;
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  position: relative;
}
.earner a {
  text-decoration: none;
  color: rgb(255, 255, 255);
}
.container_landing {
  position: absolute;
  left: 200px;
  height: 50vh;
  min-height: 500px;
  min-width: 500px;
  width: 30vw;
  background-color: white;
}
.landing_top {
  border-bottom: 1px solid #eeee;
  display: flex;
  justify-content: space-around;
}
.drive,
.eat,
.ride {
  padding: 28px 12px 20px 12px;
  text-align: center;
  width: 80px;
  cursor: pointer;
}
.drive {
  border-bottom: 4px solid black;
}
.landing_bottom {
  padding: 40px 50px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  row-gap: 15px;
  min-width: 450px;
}
.landing_bottom_h2 {
  font-size: 2rem;
  font-weight: 500;
  margin-bottom: 15px;
}
.landing_bottom_a {
  background-color: black;
  height: 50px;
  width: 160px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 15px;
  margin-bottom: 15px;
}
.landing_bottom_a:hover {
  cursor: pointer;
  background-color: rgb(36, 36, 36);
  transition: 300ms all;
}
.landing_bottom_a2 {
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.landing_bottom_a2 a {
  color: black;
}

.a2_hover {
  display: inline-block;
  position: relative;
  color: #eeee;
}

.a2_hover:after {
  content: '';
  position: absolute;
  height: 2px;
  bottom: -4px;
  left: 0;
  width: 100%;
  background-color: black;
  transition: 300ms all;
  opacity: 0;
}

.a2_hover:hover:after {
  opacity: 1;
}

.nyc {
  background: url(./assets/nyc.png) no-repeat center;
  background-size: 100% 100%;
  height: 300px;
  width: 100%;
}
.nyc a {
  text-decoration: none;
  color: rgb(255, 255, 255);
}

.nyc_content {
  height: 250px;
  margin: auto 200px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
.nyc_content_h2 {
  font-family: 'Montserrat Alternates', sans-serif;
  font-weight: 700;
  font-size: 2rem;
}

.nyc_content_a {
  background-color: black;
  height: 50px;
  width: 110px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.nyc_content_a:hover {
  cursor: pointer;
  background-color: rgb(36, 36, 36);
  transition: 300ms all;
}
.upper_sc {
  height: 100%;
  width: 100%;
  padding: 64px 64px 64px 200px;
}
.container_sc {
  display: flex;
  column-gap: 50px;
}
.container_sc a {
  color: black;
  text-decoration: none;
}
.sc_header {
  font-size: 1.5rem;
  margin-bottom: 20px;
}
.container_safety {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 35vw;
  row-gap: 15px;
}
.safety_img {
  background: url(./assets/Safety.jpeg) no-repeat;
  height: 50vh;
  width: 35vw;
}
.safety_a {
  margin-top: 2rem;
  display: flex;
  column-gap: 25px;
}

.container_city {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 35vw;
  row-gap: 15px;
}
.city_img {
  background: url(./assets/Cities.jpeg) no-repeat;
  height: 50vh;
  width: 35vw;
}
.city_a {
  margin-top: 2rem;
}

.footer {
  background: black;
  padding: 100px;
  color: white;
}
.footer a {
  text-decoration: none;
  color: white;
}
.footer_list {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  column-gap: 10rem;
  line-height: 2.5;
}
.footer_list ul {
  color: white;
  list-style-type: none;
  font-weight: 900;
  font-size: 1.2rem;
}
.footer_list ul li {
  font-weight: 300;
  font-size: 14px;
  margin: 0;
  padding: 0;
}
.footer_list ul:hover {
  background-color: black;
}
.footer_list ul li:hover {
  background-color: black;
}
.footer_uber a {
  font-family: 'Montserrat Alternates', sans-serif;
  font-size: 1.5rem;
}
.footer_uber,
.footer_help {
  margin-bottom: 2rem;
}
.footer_bottom ul {
  margin-top: 3rem;
  list-style-type: none;
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  column-gap: 3.5rem;
  row-gap: 1rem;
}
.footer_bottom ul li {
  cursor: pointer;
}
.footer ul li a:hover {
  color: rgb(156, 156, 156);
}
.check_btn {
  font-size: 1.3rem;
  cursor: pointer;
  margin-left: 10px;
  display: none;
}
#check {
  display: none;
}

@media (max-width: 1100px) {
  .nav1 {
    display: none;
  }
  header {
    justify-content: space-between;
    padding: 0 20px;
  }
  .nav2 {
    display: flex;
    justify-content: flex-end;
  }
  .nav2-right {
    display: flex;
  }
  .sign_button {
    padding: 10px 20px;
  }
  .nav2 i {
    padding: 10px 20px;
  }
  .nav2 input {
    display: none;
  }
  .nav2-menu {
    display: none;
  }
  .menu-toggle {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 10px;
  }
  #menu-toggle:checked + .nav2-menu {
    display: block;
    position: absolute;
    top: 70px;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: white;
    color: black;
    font-size: 2.5rem;
    text-align: center;
    z-index: 1;
  }
  ul li {
    background-color: white;
  }
  :not(li) > ul > li {
    padding: 10px;
    margin: auto;
    border-radius: 0;
  }
  :not(li) > ul > li:hover {
    background-color: white;
    border-radius: 0;
  }
  .nav2-products {
    width: 80%;
    margin: auto;
    background-color: rgb(224, 224, 224);
  }
  .nav2_checkbox_company:checked + .nav2_company-drop {
    display: block;
    position: relative;
    background-color: white;
    margin: auto;
    color: grey;
    font-size: 1.8rem;
  }
  .nav2_checkbox_products:checked + .nav2_products-drop {
    display: block;
    width: 250px;
    left: 40px;
    text-align: left;
    position: relative;
    background-color: white;
    margin: auto;
    min-width: fit-content;
    color: rgb(56, 56, 56);
    font-size: 2rem;
  }

  .earner {
    background: none;
    height: 500px;
  }
  .container_landing {
    width: 100%;
    left: 0;
    top: 0;
  }
  .mobile_bg {
    height: 60vh;
    width: 100%;
    background: url(./assets/earner2.jpeg) center;
  }
  .nyc_content {
    margin: 0;
    padding: 40px;
  }
  .upper_sc {
    padding: 40px;
  }

  h2 {
    font-size: 2rem;
  }
  .container_sc {
    column-gap: 10px;
  }
  .safety_img {
    width: 45vw;
    height: 40vh;
  }
  .container_city {
    row-gap: 27px;
  }
  .city_img {
    width: 45vw;
    height: 40vh;
  }

  footer li {
    background-color: black;
  }
  .container_city,
  .container_safety {
    width: 50vw;
  }
  .footer {
    padding: 40px 100px 40px 40px;
  }
  .footer_list {
    column-gap: 1rem;
    justify-content: space-between;
  }
  .footer_bottom ul {
    justify-content: space-between;
    column-gap: 1rem;
  }
}

@media (max-width: 680px) {
  .earner {
    background: none;
  }

  .mobile_bg {
    height: 50vh;
    width: 100%;
    background: url(./assets/Earner_Home_bg_mobile.jpeg) no-repeat;
    background-position: center center;
    background-size: cover;
  }
  .nyc {
    background: url(./assets/nyc-mobile.png) no-repeat center;
    background-size: 100% 100%;
    height: 280px;
    width: 100%;
  }
  .nyc_content {
    margin: 0;
    padding-left: 40px;
  }
  .container_sc {
    flex-direction: column;
  }
  .upper_sc {
    padding: 40px;
  }

  .sc_header h2 {
    font-size: 1.5rem;
  }
  .safety_a {
    display: flex;
    flex-direction: column;
  }
  .safety_img {
    width: 80vw;
    height: 35vh;
  }
  .city_img {
    width: 80vw;
    height: 35vh;
  }
  .container_city,
  .container_safety {
    width: 80vw;
  }
  .footer {
    padding: 40px;
  }
  .footer_list {
    column-gap: 2rem;
  }
  .footer_bottom ul {
    justify-content: space-between;
    column-gap: 1rem;
  }
}
@media (max-width: 1250px) {
  .landing_bottom h2 {
    font-size: 2rem;
  }
}
